HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
ms-usuarios/mvnw
ms-usuarios/.mvn
ms-usuarios/.mvn/**
ms-usuarios/mvnw.cmd
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea
.classpath
.project
.settings
.spriingBeans
.factorypath
target/
build/
.m2
.gradle
Thumbs.sb
Icon?
ehthumbs.db
.DS_Store
*.log
*7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.so
*.project

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/ms-users/.mvn/
/ms-users/.mvn/wrapper
/ms-users/.classpath
/ms-users/.gitattributes
/ms-users/mvnw.cmd
/ms-users/mvnw
/ms-users/mvnw

/ms-processes/mvnw.cmd
/ms-processes/.mvn/
/ms-processes/.mvn
/ms-processes/HELP.md
/ms-processes/.gitattributes

/ms-api-documents/.mvn/
/ms-api-documents/.mvn/wrapper
/ms-api-documents/.classpath
/ms-api-documents/.gitattributes
/ms-api-documents/.gitignore
/ms-api-documents/mvnw.cmd
/ms-api-documents/mvnw
/ms-api-documents/mvnw

/ms-notifications/.mvn/
/ms-notifications/.mvn/wrapper
/ms-notifications/.classpath
/ms-notifications/.gitattributes
/ms-notifications/.gitignore
/ms-notifications/mvnw.cmd
/ms-notifications/mvnw
/ms-notifications/mvnw

/ms-reports/.mvn/
/ms-reports/.mvn/wrapper
/ms-reports/.classpath
/ms-reports/.gitattributes
/ms-reports/.gitignore
/ms-reports/mvnw.cmd
/ms-reports/mvnw
/ms-reports/mvnw
